.popup__closer {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/popup_closer.svg);
  cursor: pointer;
  background-color: #000;
  border: none;
}