.profile {
  width: 100%;
  padding: 40px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
  align-items: center;
}

@media screen and (max-width: 550px) {
  .profile {
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    padding: 42px 0 0;
  }
}