.profile__edit-btn {
  position: absolute;
  top: 15px;
  right: -24px;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/edit_button.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  border: 0;
  cursor: pointer;
}


@media screen and (max-width: 710px) {
  .profile__edit-btn {
    top: 8px;
    right: -28px;
    width: 18px;
    height: 18px;
  }
}